---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro'
import Experience from '@/components/Experience.astro';
import ProjectsContainer from '@/components/ProjectsContainer.astro';
import Tech from '@/components/Tech.astro';
import { getI18N } from "@/i18n";
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout title={i18n.title}>
	<Header/>
	<main class="container">
		<Hero/>
		<Experience/>
	<ProjectsContainer/>
		<Tech/>
	</main>
</Layout>
<style>
	main{
		color: var(--color-text);
		min-height: 100vh;
		position: relative;
	}	
</style>
<script>

	const sections = document.querySelectorAll('section[data-anchor]');
	const checkIntersecting = (entries: IntersectionObserverEntry[]) => {
	const links = document.querySelectorAll(`a[data-anchor]`);
		entries.forEach((entry) => {
			if(entry.isIntersecting){

				links.forEach((link) => {
					if(link.getAttribute('href') === `#${entry.target.id}`){
						if(link.children[0]?.classList.contains('dropdown__link')){
							link.children[0].classList.add('active')
						}
						link.classList.add('active')
					}else{
						if(link.children[0]?.classList.contains('dropdown__link')){
							link.children[0].classList.remove('active')
						}
						link.classList.remove('active')
					}
				})
			}

		})
	}
	let observer = new IntersectionObserver(checkIntersecting, {threshold: 0.3})
	sections.forEach((section) => observer.observe(section));
</script>