---

interface Props{
    title : string,
    date: string,
    place: string,
    description: string

}

const { title, date, place, description } = Astro.props;
---

<article class="experience__card">
    <picture class="card__image">
        <slot/>
    </picture>
    <div class="card__content">
        <div class="card__heading">
            <p class="heading__title">{title}</p>
            <p class="heading__period">{date}</p>
        </div>
        <p class="content__place">{place}</p>
        <p class="content__description">
            {description}
        </p>
    </div>
</article>

<style>
    .experience__card {
        display: flex;
        justify-content: center;
        padding: 10px;
        box-shadow: 2px 2px 8px 4px var(--btn-shadow);
        border-radius: 20px;
        width: fit-content;
        margin: 30px auto;
    }
    .card__image {
        padding: 0 20px 0 10px;
    }

    .card__content {
        display: flex;
        flex-direction: column;
        padding: 10px 20px 10px 0px;
        max-width: 70ch;
    }
    .card__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .heading__title {
        font-size: 1.3em;
        color: var(--color-important);
        font-weight: 500;
    }
    .heading__period {
        font-size: 1.1em;
        color: var(--color-text-lighter);
    }
    .content__place {
        font-size: 1.2em;
        color: var(--color-highlight);
        font-weight: 500;
    }
    @media screen and (max-width: 600px) {
        .experience__card {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 30ch;
            padding: 20px;
        }
        .card__content {
            text-align: center;
        }
        .card__heading {
            flex-direction: column;
            justify-content: center;
        }
        .content__description{
            text-align: center;
        }
    }
</style>
