---
import LanguageSelector from "@/components/LanguageSelector.astro";
import Nav from "@/components/Nav.astro";
import ThemeToggle from "@/components/ThemeToggle.astro"

---

<header class="header container">
    <LanguageSelector />
    <Nav />
    <!-- <a href="" class="header__link">Descargar CV</a> -->
    <ThemeToggle/>

</header>

<style>
    .header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__link {
        background-color: var(--bg-header-btn);
        color: var(--color-light);
        padding: 5px 20px;
        letter-spacing: 0.025rem;
        border-radius: 20px;
        font-weight: 600;
        box-shadow: 0 4px 4px var(--btn-shadow);
        transition: background 200ms ease;
    }
    .header__link:hover {
        background-color: var(--btn-shadow);
    }

    @media screen and (max-width: 900px) {
        .header__link {
            padding: 5px 15px;
            letter-spacing: 0;
        }
    }
</style>
<script is:inline>
    function positionNav() {
        const nav = document.querySelector(".header__nav");
        const header = document.querySelector(".header") ;
        const headerWidth = header?.clientWidth ?? 0;
        const headerMargin = header?.offsetLeft ?? 0;
        const idiomaWidth =
            (document.querySelector(".header__language"))
                ?.clientWidth ?? 0;
        const linkWidth =
            (document.querySelector(".toggle"))
                ?.clientWidth ?? 0;
        const leftMargin =
            (headerWidth - idiomaWidth - linkWidth - nav?.clientWidth ?? 0) / 2;
        nav.style.left = leftMargin + idiomaWidth + headerMargin + "px";
    }

    window.addEventListener("resize", positionNav);
    positionNav();
</script>
