---
interface Props{
    href : string,
    text: string,

}

const { href, text } = Astro.props;
---

<a href={href} class="hero__btn" target="_blank">
    <slot/>
    <p class="btn__text">{text}</p>

</a>

<style>
    .hero__btn{
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: var(--bg-btn);
        color: var(--color-text);
        padding: 5px 15px;
        border-radius: 20px;
        border: 1px solid var(--btn-shadow);
        box-shadow: 0 4px 4px var(--btn-shadow);
        transition: transform 0.3s ease;

    }
    .hero__btn:hover{
        transform: translateY(-2px);
    }
</style>
