---
import SectionContainer from "@/components/SectionContainer.astro";

import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })["techs"];
import Technologies from '@/components/Technologies.tsx';
---
<SectionContainer id="tech"> 
    <h1 class="heading">{i18n.title}</h1>
    <section class="detail">
        <Technologies technologies={i18n.detail} client:visible/>
    </section>
</SectionContainer>
<style>
    #tech {
        margin: 20px auto;
    }
    .detail {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        gap: 2rem 5rem;
        justify-items: center;
        margin: 2rem auto;
        max-width: 1000px;
    }

</style>
